* {
    background-color: beige;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
}

.mainContent {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#title {
    width: 15%;
    margin: 0 auto;
    text-align: left;
}

#title h1 {
    margin-top: 8vh;
    font-size: 2.6rem;
    letter-spacing: 0.75vh;
    margin-bottom: 5vh;
    font-family: 'Josefin Sans', sans-serif;
}

.mainContent h3 {
    font-size: 1.6rem;
}

.mainContent button {
    font-size: 1.6rem;
    min-width: 237px;
    width: 16vw;
    border: 0.3vh solid black;
}

.mainContent button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#reloadButton {
    border: none;
    padding: 1vh;
    font-size: 2rem;
    width: 3vw;
}

.mainContent p, .mainContent a {
    font-size: 0.9rem;
}

.footer {
    text-align: center;
    position:fixed;
    bottom: 2vh;
    left: 25%;
    right: 25%;
}


.mainContentMobile {
    display: none;
}

@media only screen and (max-width: 800px) {

    .mainContent {
        display: none;
    }

    .mainContentMobile {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 95%;
        max-height: 90%;
    }

    #titleMobile {
        width: 50%;
        margin: 0 auto;
        text-align: left;
    }
    
    #titleMobile h1 {
        margin-top: 8vh;
        font-size: 2.5rem;
        letter-spacing: 0.75vh;
        margin-bottom: 5vh;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .mainContentMobile h3 {
        font-size: 4.75vw;
    }
    
    .mainContentMobile button {
        font-size: 1.5rem;
        border: 0.3vh solid black;
        width: 48vw;
        max-width: 400px;
    }
    
    .mainContentMobile button:active {
        background-color: black;
        color: white;
        cursor: pointer;
    }
    
    #reloadButtonMobile {
        border: none;
        padding: 1.4vh;
        font-size: 7vw;
        width: 12vw;
    }

    .mainContentMobile p {
        font-size: 2.7vw;
        margin: 1vh;
    }

    .mainContentMobile a {
        font-size: 2.7vw;
    }

    .footerMobile {
        text-align: center;
        position:fixed;
        bottom: 2vh;
        left: 25%;
        right: 25%;
    }

}